@font-face {
    font-family: 'ost_bold'; /* The name you'll use in your CSS */
    src: url('../../Fonts/ostrich-sans.sans-inline.otf') format('opentype'); /* Path to the .otf file */ }
@font-face {
    font-family: 'ost_light'; /* The name you'll use in your CSS */
    src: url('../../Fonts/ostrich-sans.sans-light.otf') format('opentype'); /* Path to the .otf file */ }
@font-face {
    font-family: 'ost_italic'; /* The name you'll use in your CSS */
    src: url('../../Fonts/ostrich-sans.sansinline-italic.ttf') format('truetype'); /* Path to the .otf file */ }


body{
    background-color: #1B1717;
    margin: 0;
    padding: 0;
}

body .marquee-text {
    overflow: clip;
    background-color: #1B1717;
    margin-top: 10px;
  }
  
body .marquee-text  .marquee-text-track {
    display: flex;
    padding-left: 1.5rem;
    gap: 0rem 1.5rem;
    width: max-content;
    animation: marquee-move-text var(--speed, 20s) linear infinite var(
        --direction,
        forwards
      );
  }

body .marquee-text  #dots {
    display: flex;
    padding-left: 1.5rem;
    gap: 1.5rem;
    width: max-content;
    animation: marquee-move-text var(--speed, 7s) linear infinite var(
        --direction,
        forwards
      );
     

    
  }

#dot_container{
    position: relative;
    top: -70px;
    
    z-index: -1;
    padding-bottom: 20px;
    
    
}
#dot_container p{
    font-weight: bold;
    font-size: 70px;
    color: #EEEBDD;
}
  
body .marquee-text  p {
    font-family: 'ost_italic';
    font-size: 70px;
    font-weight: bold;
    color: #810000;

    padding: 0rem 0rem;
    margin: 10px;
    height: 100%;
  }
  





body div#main{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: max-content;
}

body div#typing_container{
  height: 40vh;
  width: 70vw;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  
  

}

body div#typing_container div#text{
  height: 70%;
  width: 100%;

  background-color: #EEEBDD;
  border-radius: 25px;

}

body div#typing_container div#typing{
  width: 100%;
  height: 50px;
  border-radius: 25px;

  background-color: #e4dec1;
}


  @keyframes marquee-move-text {
    to {
      transform: translateX(-50%);
    }
  }